
text {
  font: 15px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#licensing {
  fill: #21B6A8;
}

.link.licensing {
  stroke: #21B6A8;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: black;
  stroke: #333;
  stroke-width: 1.5px;
}












